<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  </head>
  <body>
 
  
  <header>
    <div class ="container">
      <div id="branding">
        <h1><span class="highlight">TechM</span> Web Design</h1>
      </div>
      <nav>
        <ul>
          <li><a class="current">Home</a></li>
          <li><a routerLink="/about" >About</a></li>
          <li><a routerLink="/user">Services</a></li>
        </ul>
      </nav>
     
    </div>
  </header>

  <section id="showcase">
    <div class="container">
      
    </div>
  </section>

  <section id="newsletter">
    <div class ="container">
      <h2>Subscribe to our news letter</h2>
      <form>
        <input type="email" placeholder="Enter email">
        <button type="submit" class="button_1">Subscribe</button>
      </form>
    </div>

  </section>

  <section id="boxes">
    <div class="container">
      <div class="box">
        <img src="./assets/HTML_Logo.png">
        <h3>HTML5 Markup</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>

      <div class="box">
          <img src="./assets/css_logo.png">
          <h3>CSS3 Styling</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  </p>
        </div>

        <div class="box">
            <img src="./assets/Graphic_logo.jpg">
            <h3>Graphic Design</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour </p>
          </div>
    </div>
  </section>
  <footer>
    <p>TechM Web Design, Copyright &copy; 2018</p>
  </footer>
  </body>
  </html>
  